@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 280 69% 100%;
    --foreground: 280 80% 2%;
    --muted: 250 40% 91%;
    --muted-foreground: 250 14% 29%;
    --popover: 280 69% 100%;
    --popover-foreground: 280 80% 2%;
    --card: 0 0% 99%;
    --card-foreground: 280 80% 1%;
    --border: 280 14% 91%;
    --input: 280 14% 91%;
    --primary: 280 10% 85%;
    --primary-foreground: 280 10% 25%;
    --secondary: 250 10% 85%;
    --secondary-foreground: 250 10% 25%;
    --accent: 310 10% 85%;
    --accent-foreground: 310 10% 25%;
    --destructive: 4 82% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 280 10% 85%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 280 38% 2%;
    --foreground: 280 19% 97%;
    --muted: 250 40% 9%;
    --muted-foreground: 250 14% 71%;
    --popover: 280 38% 2%;
    --popover-foreground: 280 19% 97%;
    --card: 280 38% 3%;
    --card-foreground: 280 19% 98%;
    --border: 280 14% 10%;
    --input: 280 14% 10%;
    --primary: 280 10% 85%;
    --primary-foreground: 280 10% 25%;
    --secondary: 250 10% 85%;
    --secondary-foreground: 250 10% 25%;
    --accent: 310 10% 85%;
    --accent-foreground: 310 10% 25%;
    --destructive: 4 82% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 280 10% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}